.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/HomeBackground.png');
    background-size: cover;
    background-position: center;
  }

  .neonTitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color: rgba(200, 220, 255, 0.8);
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #364156, 0 0 20px #586680, 0 0 30px #8392ad;
    animation: neonGlow 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px #364156, 0 0 20px #586680, 0 0 30px #8392ad;
    }
    100% {
      text-shadow: 0 0 20px #586680, 0 0 30px #8392ad, 0 0 40px #c2cee5;
    }
  }
  
  .customButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: rgb(33, 45, 64, 0.8);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s; /* Agrega una transición para el color de fondo */
  }
  
  .customButton:hover {
    background-color: rgb(17, 21, 28, 0.7); /* Cambia el color de fondo al pasar el mouse */
  }
  
  .currentPage {
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 4px;
    margin-right:4px; 
  }
  .searchBar {
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      border: none;
      border-radius: 4px;
      width: 100%;
      background-color: #212D40;
      color: white;
    }
  }
  
  .filterSection {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  
    select {
      padding: 0.25rem;
      border: none;
      border-radius: 4px;
      background-color: #364156;
      color: white;
      margin-right: 1rem;
    }
  }
  
  .sortButtons {
    margin-bottom: 1rem;
  
    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      margin-right: 1rem;
      background-color: #364156;
      color: white;
      cursor: pointer;
  
      &:hover {
        background-color: #7D4E57;
      }
    }
  }
      
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  
    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      margin: 0 0.5rem;
      background-color: #364156;
      color: white;
      cursor: pointer;
  
      &:hover {
        background-color: #7D4E57;
      }
    }
  }
  